:root {
    --clr-primary-300: hsl(212, 45%, 89%);
    --clr-primary-500: hsl(216, 15%, 48%);
    --clr-primary-900: hsl(218, 44%, 22%);

    --clr-neutral-100: hsl(0, 0%, 100%);

    --ff-default: "Outfit", sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;

    --fs-100: 0.625rem;
    --fs-150: 0.9375rem;
    --fs-200: 1rem;
    --fs-250: 1.25rem;
    --fs-300: 1.375rem;
    --fs-400: 1.5rem;
    --fs-500: 1.71875rem;
    --fs-600: 2.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}

body { 
  font-family: var(--ff-default);
  font-size: var(--fs-150);
  background-color: var(--clr-primary-300);
}

.page-wrapper {
    display: grid;
    place-items: center;
    height: 100vh;
}

.container {
    background-color: var(--clr-neutral-100);
    border-radius:var(--fs-250);
    padding: var(--fs-200) var(--fs-200) var(--fs-600);
    max-width: 20rem;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.0447);
}

.items {
    display: grid;
    gap: var(--fs-400);
}

.main-img {
    border-radius: var(--fs-100);
}

.title-description {
    display: grid;
    gap: var(--fs-200);
    padding: 0 var(--fs-200);
    text-align: center;
}

.title {
    font-size: var(--fs-300);
    font-weight: var(--fw-bold);
    color: var(--clr-primary-900);
    line-height: 120%;
}

.description {
    font-weight: var(--fw-regular);
    color: var(--clr-primary-500);
    line-height: 140%;
    letter-spacing: 0.2px;
}

